<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="../../assets/proddLogo.png" alt="">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark">
       <ion-icon slot="icon-only" name="log-in-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">proDD</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-text-center">
  <ion-item no-padding lines="none" >
    <ion-avatar class="image-center">
      <img src="../../assets/EimiFukada.jpg">
    </ion-avatar>
  </ion-item>
  <br>
  <ion-label>Eimi Fukada</ion-label>
</div>
<hr>
<ion-text>
  <h4>คูปองของฉัน</h4>
</ion-text>

<div class="coupon">
<ion-row>
  <ion-col class="ion-align-self-start">
    <img class="coupon_img" src="../../assets/nike_post1.jpg">
  </ion-col>

  <ion-col class="ion-align-self-end">
    <img class="coupon_img" src="../../assets/iphone_post1.jpg">
  </ion-col>

</ion-row>

<ion-row>
  <ion-col class="ion-align-self-start">
    <img class="coupon_img" src="../../assets/iphone_post1.jpg">
  </ion-col>

  <ion-col class="ion-align-self-end">
    <img class="coupon_img" src="../../assets/nike_post1.jpg">
  </ion-col>

</ion-row>

</div>
</ion-content>
