ion-header img {
  height: 47px;
  margin-top: 4px;
}

ion-avatar{
  padding: 2px;
  height: 150px;
  width: 150px;
  margin: auto;
  margin-top: 5%;
}

ion-avatar img {
  border: 2px solid white;
}

ion-label {
  font-size: 20px!important;
  font-weight: 700;
  color: #1e2023!important;
  margin-top: 5%;
}

ion-text {
  font-size: 18px!important;
  font-weight: 700;
  color: #1e2023!important;
  margin-top: 5%;
}

ion-row {
  text-align: center;
  }

.coupon_img{
  width: 100%;
}
