<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="../../assets/proddLogo.png" alt="">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark">
       <ion-icon slot="icon-only" name="log-in-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="stories">
    <div class="story">
      <div class="img-box">
        <img src="../../assets/nike.jpg">
      </div>
      <p>nike</p>
    </div>

    <div class="story">
      <div class="img-box">
        <img src="../../assets/lee.jpg">
      </div>
      <p>lee</p>
    </div>

    <div class="story">
      <div class="img-box">
        <img src="../../assets/adidas.jpg">
      </div>
      <p>adidas</p>
    </div>

    <div class="story">
      <div class="img-box">
        <img src="../../assets/msi.jpg">
      </div>
      <p>msi</p>
    </div>

    <div class="story">
      <div class="img-box">
        <img src="../../assets/apple.jpg">
      </div>
      <p>apple</p>
    </div>

    <div class="story">
      <div class="img-box">
        <img src="../../assets/samsung.jpg">
      </div>
      <p>samsung</p>
    </div>

    <div class="story">
      <div class="img-box">
        <img src="../../assets/oppo.jpg">
      </div>
      <p>oppo</p>
    </div>
  </div>

  <hr>

  <ion-item no-padding lines="none">
    <ion-avatar slot="start">
      <img src="../../assets/nike.jpg">
    </ion-avatar>
    <ion-label>nike_shop</ion-label>
    <ion-icon slot="end" name="ellipsis-vertical"></ion-icon>
  </ion-item>

  <img class="post_img" src="../../assets/nike_post1.jpg">
  <p class="insta-text"><b>I just wanna pen fan your dai bo?</b> Oh my goodnessBaby I love you, my heart demandsrang loudly inside that. </p>
<br>

  <ion-item no-padding lines="none">
    <ion-avatar slot="start">
      <img src="../../assets/apple.jpg">
    </ion-avatar>
    <ion-label>apple_store_online</ion-label>
    <ion-icon slot="end" name="ellipsis-vertical"></ion-icon>
  </ion-item>

  <img class="post_img" src="../../assets/iphone_post1.jpg">
  <p class="insta-text"><b>iPhone 13 ราคานักศีกษา ไม่มีบัตรเครดิตก็ผ่อนได้</b> 
    iPhone 13 ราคานักศีกษา ไม่มีบัตรเครดิตก็ผ่อนได้ จอง iPhone 13 ทุกรุ่น คุ้มที่สุด ได้ที่ U.Store by Comseven ทุกสาขา ข้อเสนอสำหรับนักศึกษา เริ่มต้นเพียง 1,081.-/ด* ผ่อนยาว 0% นาน 36 เดือน สิทธิพิเศษมากกว่าเมื่อชำระเต็มจำนวน จองสินค้าและชำระด้วย UFund • ดาวน์เริ่มต้นเพียง 10% ของราคาสินค้า • ผ่อนได้นานสูงสุด 18 เดือน </p>
<br>

</ion-content>
