<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ios title-ios hydrated">Add Promotions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" class="ion-no-margin ion-no-padding ios list-ios list-lines-full list-ios-lines-full hydrated">
    <form [formGroup]="promoForm" (ngSubmit)="onFormSubmit()">
      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input formControlName="title" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-input formControlName="description" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item >
        <ion-label position="stacked">time_end</ion-label>
        <ion-datetime (ionChange)="getDate($event)" formControlName="time_end" [value]="defaultDate"
        min="{{today}}"
        displayFormat="DD-MMM-YYYY hh:mm:ss A"
        pickerFormat="DD-MMM-YY HH:mm"
        >

        </ion-datetime>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Add Promotions</ion-button>
        </ion-col>
      </ion-row>
    </form>


    <ion-card *ngIf="!isImgUploading && !isImgUploaded">
      <ion-card-header>
        <ion-card-title>Select File</ion-card-title>
      </ion-card-header>

      <ion-button color="danger">
        <input type="file" class="upload" (change)="fileUpload($event.target.files)" />
      </ion-button>
    </ion-card>

    <ion-card *ngIf="isImgUploading && !isImgUploaded">
      <ion-card-header>
        <ion-card-title>Files selected: <b>{{ FileName }}</b></ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div *ngIf="progressNum | async as percentage">
          Progress: {{ percentage | number }}%
          <ion-progress-bar value="{{ percentage / 100 }}"></ion-progress-bar>
        </div>
        <div *ngIf="progressSnapshot | async as pSnapshot">
          Image size: {{ pSnapshot.totalBytes | fileSize }} Transfered:
          {{ pSnapshot.bytesTransferred | fileSize }}
          <div *ngIf="progressSnapshot && pSnapshot.bytesTransferred !== pSnapshot.totalBytes">
            <ion-button color="danger" fill="outline" size="small" (click)="ngFireUploadTask.cancel()">Cancel</ion-button>
            <ion-button color="secondary" fill="outline" size="small" (click)="ngFireUploadTask.pause()">Pause
            </ion-button>
            <ion-button color="dark" fill="outline" size="small" (click)="ngFireUploadTask.resume()" class="button">Resume
            </ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="!isImgUploading && isImgUploaded">
      <ion-card-header>
        <ion-card-title>
          <b>{{ FileName }}</b> Uploaded
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div *ngIf="fileUploadedPath | async as fileUrl">
          <img [src]="fileUrl" />
          <a [href]="fileUrl" rel="nofollow" target="_blank">Download</a>
        </div>
        File Size: {{ FileSize | fileSize }}
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Uploaded Files Collection
        </ion-card-title>
      </ion-card-header>
      <ion-card *ngFor="let img of files | async">
        <ion-card-header>
          <ion-card-title>
            {{ img.name }}
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <img [src]="img.filepath" />
          <a [href]="img.filepath" rel="nofollow" target="_blank">Download</a>
        </ion-card-content>
      </ion-card>
    </ion-card>



  </ion-list>
</ion-content>
